.calendar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  //height: 69vh;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(32, 1fr);
  gap: 0;
}

.cell {
  height: 0;
  text-align: center;
}