%small-font {
  font-size: .5rem;
}

%transition {
  transition:
          height .2s ease-in-out,
          width .2s ease-in-out;
}

@mixin circle($size, $color) {
  display: flex;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  aspect-ratio: 1/1;
  @media screen and (orientation: portrait) {
    height: $size;
  }
  @media screen and (orientation: landscape) {
    width: $size;
  }
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 50%;
  background-color: $color;
  &::before {
    content: "";
    display: block;
  }
}

.header {
  padding: .25em .5em;
  color: var(--accent-color);
}

.content {
  user-select: none;
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.slider {
  position: relative;
  width: 100vw;
  height: 75vh;
  overflow: hidden;
  display: flex;
}

.slides {
  width: 300%;
  height: 100%;
  display: flex;
  position: absolute;
  left: -100%;
}

.slide {
  width: 100%;
  height:100%;
  display: grid;
  grid-template-rows: repeat(15, 1fr);
  grid-template-columns: repeat(32, 1fr);
  gap: 0;
  text-align: center;
}

.hr {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cell {
  display: flex;
  position: relative;
  justify-content: center;
  height: auto;
  //overflow: hidden;
}

.day {
  @include circle(6%, var(--main-color));
  @extend %transition;
}
.special-day {
  @include circle(12%, var(--accent-color));
  @extend %transition;
}

.current-date {
  outline: .08em solid black;
  outline-offset: .6em;
  border-radius: 50%;
}

.day_hover {
  width: 92%;
  height: auto;
  @extend %transition;
}

.cell-text {
  @extend %small-font;
  align-self: center;
  color: var(--back-color);
  text-align: center;
  line-height: 1em;
  pointer-events: none;
}

.options {
  height: 5vh;
  position: absolute;
  bottom: 0;
  background-color: var(--main-color);
  color: var(--back-color);
  padding: .5em .5em;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

span {
  display: inline-block;
  &:not(:last-child) {
    margin-right: 1em;
  }
  cursor: pointer;
  &:hover {
    color: var(--invert-accent);
  }
  & > a {
    color: var(--back-color);
    &:hover {
      color: var(--invert-accent);
    }
  }
}

%active {
  color: var(--invert-accent);
  cursor: default;
}

.language {
  &_active {
    @extend %active;
  }
}

.country {
  &_active {
    @extend %active;
  }
}
